<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Choose a Meal</title>
</head>
<body>
    <h1>{{ meal.capitalize() }} Menu</h1>
    <form method="POST">
        {% for station, station_foods in foods.items() %}
            <h2>{{ station }}</h2>
            {% for food in station_foods%}
                <div>
                    <label>
                        <input type="checkbox" name="food_id" value="{{ food.id }}"> {{ food.name }}
                    </label>
                    <input type="number" name="quantity_{{ food.id }}" min="1" value="1" style="width: 60px">
                    <div>
                        Protein: {{ food.protein }}g | Carbs: {{ food.carbs }}g | Fat: {{ food.fat }}g | Calories: {{ food.calories }}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    <input type="submit" value="Log Selected Foods">
    </form>
    <a href="{{ url_for('dashboard') }}">Back to Dashboard</a><br>
    <a href="{{ url_for('logout') }}">Log Out</a>
</body>
</html>

