<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Set Macro Goals</title>
</head>
<body>
    <h1>Set Your Macro Goals!</h1>
    <form method="POST">
        <label>Calorie Goal: </label>
        <input type="number" name="calorie_goal" required> cal<br>
        <label>Protein Goal: </label>
        <input type="number" name="protein_goal" required>g<br>
        <label>Carb Goal: </label>
        <input type="number" name="carb_goal" required>g<br>
        <label>Fat Goal: </label>
        <input type="number" name="fat_goal" required>g<br>
        
        <input type="submit" value="Set Goal">
    </form>
    <a href="{{ url_for('dashboard') }}">Back to Dashboard</a><br>
    <a href="{{ url_for('logout') }}">Log Out</a>
</body>
</html>

